.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid orange;
    background-color: aqua;
    margin: 20px;
   /* transition: transform 6s ease 3s;*/
 /*  transition: width 2s linear 1s;*/
  /* transition: transform 3s ease-out 1s;*/
  /* transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1) 1s;*/
  transition: transform 3s ease 1s;
}
.box:hover{
   /* transform: rotate(45deg);*/
    /*width: 450px;*/
  /*  transform: translateX(100px);*/
    transform: translateX(510px) rotate(180deg);
}